#**Assignment 3 : STQD6324 Data Management**

---


 


> BY: NUR MARDHIAH BT. ZULKHAIRI (P119717)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#installing the pyspark

!pip install pyspark
from pyspark.sql import SparkSession

spark = SparkSession. builder\
              .master("local")\
              .appName("Colab")\
              .config(' spark.ui.port',  '4050')\
              .getOrCreate()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=4b1b39e082342dafafe58efb33240fc9c43c7f3b464f2248f729d1ba6d035237
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

###**QUESTION** 
Using Spark2 and the movielens dataset, find the movies with the

> **best average ratings**, and

> **worst average ratings**


* Filter both lists of movies to only include those with more than 100 ratings.
* Save the output of the results.
* Display the top 25 results for each list on the console, ordered by oldest timestamp.


Here are the points to check whether you have successfully executed the PySpark script:
* Successfully loaded the movielens dataset into Spark (2 points)
* Filtered out the movies with less than 100 ratings (2 points)
* Calculated the average rating for each movie (4 points)
* Sorted the movies based on the average rating (2 points)
* Saved the output of the results (2 points)
* Selected the top 25 movies with the highest average rating (2 points)
* Selected the top 25 movies with the lowest average rating (2 points)
* Displayed the results on the console (2 points)
* Ordered the output results on the console by oldest timestamp (2 points)
* Used efficient and optimal Spark transformations and actions (3 points)
* Used appropriate error handling techniques (2 points)

In [ ]:
#importing the library 

from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row
from pyspark.sql.functions import lit
from pyspark.sql import functions

#Order by ratings

In [ ]:
from pyspark.sql.functions import col, avg, count
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS

# Load up movieID -> movie name dictionary
def loadMovieNames():
    movieNames = {}
    with open("/content/drive/MyDrive/SEMESTER 2/DATA_MANAGEMENT/Assignment3/u.item", 
              encoding="ISO-8859-1") as f:
        for line in f:
            fields = line.split('|')
            movieNames[int(fields[0])] = fields[1]
    return movieNames

# Convert u.data lines into (UserID, movieID, rating, timestamp) rows
def parseInput(line):
    fields = line.value.split()
    userId = int(fields[0])
    movieId = int(fields[1])
    rating = float(fields[2])
    timestamp = int(fields[3])
    return Row(userID=userId, movieID=movieId, rating=rating, timestamp=timestamp)

if __name__ == "__main__":
    # Create a SparkSession
    # SparkSession is created using SparkSession.builder.appName()
    spark = SparkSession.builder.appName("MovieRatings").getOrCreate()

    # Load up our movieID -> name directory
    movieNames = loadMovieNames()

    # Get the raw data is read from the file 
    #and converted to RDD using spark.read.text().rdd.
    lines = spark.read.text("/content/drive/MyDrive/SEMESTER 2/DATA_MANAGEMENT/Assignment3/u.data").rdd

    # parseInput() function is defined to parse the input data
    # and convert it to an RDD of Row objects with (userID, movieID, rating,
    #timestamp)
    #RDD used to store key and value information in objects 
    ratingsRDD = lines.map(parseInput)

    # Convert to a DataFrame and cache it
    #cache() allows you to store the intermediate to get the faster access
    ratings = spark.createDataFrame(ratingsRDD).cache()

    # Create an ALS collaborative filtering model from the complete data set
    als = ALS(maxIter=5, regParam=0.01, userCol="userID", itemCol="movieID",
              ratingCol="rating")
    model = als.fit(ratings)

    #ratings in DataFrame used to calculate the count of ratings for each movie
    # using groupBy() and count()
    # The movies filltered by rated more than 100 times
    ratingCounts = ratings.groupBy("movieID").agg(count("rating").
                            alias("rating_count")).filter("rating_count > 100")

    # Calculate average ratings for each movie
    # alias function used to give a custom name to a column in the resulting DataFrame
    averageRatings = ratings.groupBy("movieID").agg(avg
                                    ("rating").alias("avg_rating"))

    # Join with rating counts and filter movies with more than 100 ratings
    moviesWithRatings = averageRatings.join(ratingCounts, "movieID")


#Notes : The movies are ordered by average rating in descending order
          # using orderBy() and limit()

    bestMovies = moviesWithRatings.orderBy(col("avg_rating").desc()).limit(25)
    worstMovies = moviesWithRatings.orderBy(col("avg_rating").asc()).limit(25)

    # Add movie titles to bestMovies and worstMovies DataFrames
    bestMovies = bestMovies.join(spark.createDataFrame(list(movieNames.items()), 
     ["movieID", "title"]), "movieID")
    
    worstMovies = worstMovies.join(spark.createDataFrame(list(movieNames.items()), 
     ["movieID", "title"]), "movieID")

     # Display the results with top 25 movies with calling show() functions
    print("Top 25 Movies with the best average ratings:")
    bestMovies.select("movieID", "title", "avg_rating", "rating_count").show(n=25,
                                                                truncate=False)

    print("Top 25 Movies with the worst average ratings:")
    worstMovies.select("movieID", "title", "avg_rating", "rating_count").show(n=25,
                                                                truncate=False)

    spark.stop()

Top 25 Movies with the best average ratings:
+-------+---------------------------------------------------------------------------+------------------+------------+
|movieID|title                                                                      |avg_rating        |rating_count|
+-------+---------------------------------------------------------------------------+------------------+------------+
|12     |Usual Suspects, The (1995)                                                 |4.385767790262173 |267         |
|50     |Star Wars (1977)                                                           |4.3584905660377355|583         |
|64     |Shawshank Redemption, The (1994)                                           |4.445229681978798 |283         |
|98     |Silence of the Lambs, The (1991)                                           |4.28974358974359  |390         |
|127    |Godfather, The (1972)                                                      |4.283292978208232 |413         |
|134    |Citizen Kane (1941)                                                        |4.292929292929293 |198         |
|169    |Wrong Trousers, The (1993)                                                 |4.466101694915254 |118         |
|172    |Empire Strikes Back, The (1980)                                            |4.204359673024523 |367         |
|174    |Raiders of the Lost Ark (1981)                                             |4.252380952380952 |420         |
|178    |12 Angry Men (1957)                                                        |4.344             |125         |
|272    |Good Will Hunting (1997)                                                   |4.262626262626263 |198         |
|285    |Secrets & Lies (1996)                                                      |4.265432098765432 |162         |
|313    |Titanic (1997)                                                             |4.2457142857142856|350         |
|318    |Schindler's List (1993)                                                    |4.466442953020135 |298         |
|357    |One Flew Over the Cuckoo's Nest (1975)                                     |4.291666666666667 |264         |
|408    |Close Shave, A (1995)                                                      |4.491071428571429 |112         |
|427    |To Kill a Mockingbird (1962)                                               |4.292237442922374 |219         |
|474    |Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)|4.252577319587629 |194         |
|479    |Vertigo (1958)                                                             |4.251396648044692 |179         |
|480    |North by Northwest (1959)                                                  |4.284916201117318 |179         |
|483    |Casablanca (1942)                                                          |4.45679012345679  |243         |
|484    |Maltese Falcon, The (1941)                                                 |4.2101449275362315|138         |
|511    |Lawrence of Arabia (1962)                                                  |4.23121387283237  |173         |
|603    |Rear Window (1954)                                                         |4.3875598086124405|209         |
|657    |Manchurian Candidate, The (1962)                                           |4.259541984732825 |131         |
+-------+---------------------------------------------------------------------------+------------------+------------+

Top 25 Movies with the worst average ratings:
+-------+--------------------------------------+------------------+------------+
|movieID|title                                 |avg_rating        |rating_count|
+-------+--------------------------------------+------------------+------------+
|29     |Batman Forever (1995)                 |2.6666666666666665|114         |
|38     |Net, The (1995)                       |3.0083333333333333|120         |
|53     |Natural Born Killers (1994)           |2.953125          |128         |
|122    |Cable Guy, The (1996)                 |2.339622641509434 |106         |
|225    |101 Dalmatians (1996)                 |2.908256880733945 |109         |
|231    |Batman Returns (1992)                 |2.683098591549296 |142         |
|235    |Mars Attacks! (1996)                  |2.847926267281106 |217         |
|240    |Beavis and Butt-head Do America (1996)|2.7884615384615383|156         |
|243    |Jungle2Jungle (1997)                  |2.4393939393939394|132         |
|252    |Lost World: Jurassic Park, The (1997) |2.9430379746835444|158         |
|259    |George of the Jungle (1997)           |2.685185185185185 |162         |
|260    |Event Horizon (1997)                  |2.574803149606299 |127         |
|264    |Mimic (1997)                          |2.742574257425743 |101         |
|289    |Evita (1996)                          |2.9806949806949805|259         |
|323    |Dante's Peak (1997)                   |2.933333333333333 |240         |
|325    |Crash (1996)                          |2.546875          |128         |
|358    |Spawn (1997)                          |2.6153846153846154|143         |
|411    |Nutty Professor, The (1996)           |2.914110429447853 |163         |
|476    |First Wives Club, The (1996)          |3.01875           |160         |
|546    |Broken Arrow (1996)                   |3.031496062992126 |254         |
|554    |Waterworld (1995)                     |2.803921568627451 |102         |
|678    |Volcano (1997)                        |2.808219178082192 |219         |
|756    |Father of the Bride Part II (1995)    |2.8984375         |128         |
|926    |Down Periscope (1996)                 |2.702970297029703 |101         |
|1047   |Multiplicity (1996)                   |2.8358208955223883|134         |
+-------+--------------------------------------+------------------+------------+

#Ordered by oldest timestamp

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row
from pyspark.sql.functions import col, avg, min

# Load up movieID -> movie name dictionary
def loadMovieNames():
    movieNames = {}
    with open("/content/drive/MyDrive/SEMESTER 2/DATA_MANAGEMENT/Assignment3/u.item", 
              encoding="ISO-8859-1") as f:
        for line in f:
            fields = line.split('|')
            movieNames[int(fields[0])] = fields[1]
    return movieNames

# Convert u.data lines into (UserID, movieID, rating, timestamp) rows
def parseInput(line):
    fields = line.value.split()
    userId = int(fields[0])
    movieId = int(fields[1])
    rating = float(fields[2])
    timestamp = int(fields[3])
    return Row(userID=userId, movieID=movieId, rating=rating, timestamp=timestamp)

if __name__ == "__main__":
    # Create a SparkSession
    spark = SparkSession.builder.appName("MovieRatings").getOrCreate()

    # Load up our movieID -> name directory
    movieNames = loadMovieNames()

    # Get the raw data
    lines = spark.read.text("/content/drive/MyDrive/SEMESTER 2/DATA_MANAGEMENT/Assignment3/u.data").rdd

    # Convert it to an RDD of Row objects with (userID, movieID, rating, timestamp)
    ratingsRDD = lines.map(parseInput)

    # Convert to a DataFrame and cache it
    ratings = spark.createDataFrame(ratingsRDD).cache()

    # Create an ALS collaborative filtering model from the complete data set
    als = ALS(maxIter=5, regParam=0.01, userCol="userID", itemCol="movieID", 
              ratingCol="rating")
    model = als.fit(ratings)

    # Find movies rated more than 100 times
    ratingCounts = ratings.groupBy("movieID").count().filter(col("count") > 100)

    # Calculate average ratings, minimum timestamp, and count for each movie
    # The average rating, minimum timestamp, and count for each movie are calculated 
    # using groupBy() and agg()
    averageRatings = ratings.groupBy("movieID").agg(avg("rating").alias("avg_rating"),
                                        min("timestamp").alias("timestamp"), 
                                        count("rating").alias("rating_count"))

    # Join with rating counts and filter movies with more than 100 ratings
    moviesWithRatings = averageRatings.join(ratingCounts, "movieID")

#Notes : 1) The movies are ordered by average rating in descending order
#        2) timestamp is order in ascending order to get the best movies   
#           and worst movies with the oldest timestamp 
#           using orderBy() and limit() 

    bestMovies = moviesWithRatings.orderBy(col("avg_rating").desc(), 
                                          col("timestamp").asc()).limit(25)
    
    worstMovies = moviesWithRatings.orderBy(col("avg_rating").asc(), 
                                          col("timestamp").asc()).limit(25)

    # Add movie titles to bestMovies and worstMovies DataFrames
    bestMovies = bestMovies.join(spark.createDataFrame(list(movieNames.items()), 
                                              ["movieID", "title"]), "movieID")
    
    worstMovies = worstMovies.join(spark.createDataFrame(list(movieNames.items()),
                                              ["movieID", "title"]), "movieID")

    # Display the results with top 25 movies with calling show() functions
    print("Top 25 Movies with the best average ratings (ordered by oldest timestamp):")
    bestMovies.select("movieID", "title", "avg_rating", "rating_count",
                      "timestamp").show(n=25,truncate=False)
                                          

    print("Top 25 Movies with the worst average ratings (ordered by oldest timestamp):")
    worstMovies.select("movieID", "title", "avg_rating", "rating_count",
                       "timestamp").show(n=25,truncate=False)

    # Stop the SparkSession
    spark.stop()

Top 25 Movies with the best average ratings (ordered by oldest timestamp):
+-------+---------------------------------------------------------------------------+------------------+------------+---------+
|movieID|title                                                                      |avg_rating        |rating_count|timestamp|
+-------+---------------------------------------------------------------------------+------------------+------------+---------+
|12     |Usual Suspects, The (1995)                                                 |4.385767790262173 |267         |874777491|
|50     |Star Wars (1977)                                                           |4.3584905660377355|583         |874729750|
|64     |Shawshank Redemption, The (1994)                                           |4.445229681978798 |283         |874777701|
|98     |Silence of the Lambs, The (1991)                                           |4.28974358974359  |390         |874786016|
|127    |Godfather, The (1972)                                                      |4.283292978208232 |413         |874781076|
|134    |Citizen Kane (1941)                                                        |4.292929292929293 |198         |874777623|
|169    |Wrong Trousers, The (1993)                                                 |4.466101694915254 |118         |874777890|
|172    |Empire Strikes Back, The (1980)                                            |4.204359673024523 |367         |874729901|
|174    |Raiders of the Lost Ark (1981)                                             |4.252380952380952 |420         |874729995|
|178    |12 Angry Men (1957)                                                        |4.344             |125         |874831383|
|272    |Good Will Hunting (1997)                                                   |4.262626262626263 |198         |882955387|
|285    |Secrets & Lies (1996)                                                      |4.265432098765432 |162         |874833746|
|313    |Titanic (1997)                                                             |4.2457142857142856|350         |882693234|
|318    |Schindler's List (1993)                                                    |4.466442953020135 |298         |874777948|
|357    |One Flew Over the Cuckoo's Nest (1975)                                     |4.291666666666667 |264         |874725485|
|408    |Close Shave, A (1995)                                                      |4.491071428571429 |112         |874784538|
|427    |To Kill a Mockingbird (1962)                                               |4.292237442922374 |219         |874789279|
|474    |Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)|4.252577319587629 |194         |874777623|
|479    |Vertigo (1958)                                                             |4.251396648044692 |179         |874785728|
|480    |North by Northwest (1959)                                                  |4.284916201117318 |179         |875238923|
|483    |Casablanca (1942)                                                          |4.45679012345679  |243         |874786695|
|484    |Maltese Falcon, The (1941)                                                 |4.2101449275362315|138         |874793898|
|511    |Lawrence of Arabia (1962)                                                  |4.23121387283237  |173         |874781407|
|603    |Rear Window (1954)                                                         |4.3875598086124405|209         |874785448|
|657    |Manchurian Candidate, The (1962)                                           |4.259541984732825 |131         |874873745|
+-------+---------------------------------------------------------------------------+------------------+------------+---------+

Top 25 Movies with the worst average ratings (ordered by oldest timestamp):
+-------+--------------------------------------+------------------+------------+---------+
|movieID|title                                 |avg_rating        |rating_count|timestamp|
+-------+--------------------------------------+------------------+------------+---------+
|29     |Batman Forever (1995)                 |2.6666666666666665|114         |874796373|
|38     |Net, The (1995)                       |3.0083333333333333|120         |874730553|
|53     |Natural Born Killers (1994)           |2.953125          |128         |874778274|
|122    |Cable Guy, The (1996)                 |2.339622641509434 |106         |874787150|
|225    |101 Dalmatians (1996)                 |2.908256880733945 |109         |874786854|
|231    |Batman Returns (1992)                 |2.683098591549296 |142         |874778424|
|235    |Mars Attacks! (1996)                  |2.847926267281106 |217         |874774956|
|240    |Beavis and Butt-head Do America (1996)|2.7884615384615383|156         |874786713|
|243    |Jungle2Jungle (1997)                  |2.4393939393939394|132         |874951039|
|252    |Lost World: Jurassic Park, The (1997) |2.9430379746835444|158         |874780832|
|259    |George of the Jungle (1997)           |2.685185185185185 |162         |874827960|
|260    |Event Horizon (1997)                  |2.574803149606299 |127         |874786439|
|264    |Mimic (1997)                          |2.742574257425743 |101         |874828296|
|289    |Evita (1996)                          |2.9806949806949805|259         |874815789|
|323    |Dante's Peak (1997)                   |2.933333333333333 |240         |874774449|
|325    |Crash (1996)                          |2.546875          |128         |874786419|
|358    |Spawn (1997)                          |2.6153846153846154|143         |874786419|
|411    |Nutty Professor, The (1996)           |2.914110429447853 |163         |874786807|
|476    |First Wives Club, The (1996)          |3.01875           |160         |874792403|
|546    |Broken Arrow (1996)                   |3.031496062992126 |254         |874775914|
|554    |Waterworld (1995)                     |2.803921568627451 |102         |874790813|
|678    |Volcano (1997)                        |2.808219178082192 |219         |874786419|
|756    |Father of the Bride Part II (1995)    |2.8984375         |128         |874833878|
|926    |Down Periscope (1996)                 |2.702970297029703 |101         |875130100|
|1047   |Multiplicity (1996)                   |2.8358208955223883|134         |874789005|
+-------+--------------------------------------+------------------+------------+---------+

In [ ]:
#SAVE THE OUTPUT
#SKIP THIS PART


   # Save the outputs to separate files
    #bestMovies.coalesce(1).write.mode("overwrite").csv("/content/drive/MyDrive/SEMESTER 2/DATA_MANAGEMENT/Assignment3/best_movies")
    #worstMovies.coalesce(1).write.mode("overwrite").csv("/content/drive/MyDrive/SEMESTER 2/DATA_MANAGEMENT/Assignment3/worst_movies")